.wrapper {
  width: 50vw;
}

.item {
  background: lightgrey;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  color: #242424;
}

.multi-selection-button {
  background: lightgrey;
  color: #242424;
  margin-bottom: 10px;
}
